@import '~@angular/cdk/overlay-prebuilt.css';
@import 'scss';

/* GENERAL */
html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT */
@font-face {
  font-family: 'Prelo';
  src: url('assets/fonts/Prelo-Light.ttf') format('truetype'),
  url('assets/fonts/Prelo-Medium.ttf') format('truetype');
}

body {
  font-family: 'Prelo', sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
}
