@import 'variables';

label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1px;
}

input {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border: 1px solid #DBDBDC;
  border-radius: 4px;
  padding: 12px;
  color: $blue500;
}

input:-moz-read-only,
input:readonly,
input[readonly],
textarea:-moz-read-only,
input:read-only,
textarea:read-only {
  color: $blue300;
  cursor: not-allowed;
}
input.disabled {
  color: $blue400;
  pointer-events: none;
}

.error-label {
  font-size: .7rem;
  color: red;
}

select {
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}