.main {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;

  .footer {
    display: flex;
    justify-content: space-between;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;


  thead {
    background-color: #f9fafc;

    th {
      text-align: left;
      font-weight: bold;
    }
  }
  tbody td {
    padding: .5rem 0;
  }

  tr {
    height: 45px;
    border-bottom: 2px solid #f7f7f7;
  }
}