<app-header />
<main class="main">
  <div class="container">
    <h1 class="title">Formulario de Registro</h1>
    <hr>
    <br>
    <form 
      class="form" 
      [formGroup]="registerForm"
      (ngSubmit)="register()">
      
      <!-- col 1 -->
      <div class="row">
        <div class="w-50">
          <label for="id">ID</label>
          <input type="text" id="id" formControlName="id">
        </div>
        <div class="w-50">
          <label for="name">Nombre</label>
          <input type="text" id="name" formControlName="name">
        </div>
      </div>

      <!-- col 2 -->
      <div class="row">
        <div class="w-50">
          <label for="description">Descripción</label>
          <input type="text" id="description" formControlName="description">
        </div>
        <div class="w-50">
          <label for="logo">Logo</label>
          <input type="text" id="logo" formControlName="logo">
        </div>
      </div>

      <!-- col 3 -->
      <div class="row">
        <div class="w-50">
          <label for="date_release">Fecha liberación</label>
          <input type="text" id="date_release" formControlName="date_release">
        </div>
        <div class="w-50">
          <label for="date_revision">Fecha Revisión</label>
          <input type="text" id="date_revision" formControlName="date_revision">
        </div>
      </div>

      <!-- Bottons -->
      <div class="button-container">
        <button class="btn-secundary" (click)="resetForm()">Reiniciar</button>
        <button class="btn-primary" [disabled]="registerForm.invalid" type="submit">Enviar</button>
      </div>


    </form>
  </div>
</main>
